.modal {
    position: fixed;
    background-color: rgba(177, 177, 177, 0.80);
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    overflow: auto;

    .details {
        padding: 20px;
        background-color: #fff;
        min-height: calc(100vh - 40px);

        span {
            float: right;
            font-size: 20px;
            padding: 9px;
            cursor: pointer;
        }

        .item-details {
            display: flex;
            flex-direction: column;

            img {
                flex: 1;
                max-height: 100px;
                object-fit: contain;
                margin-right: 10px;
            }

            .item-info {
                flex: 3;
                color: #9c9c9c;

                .name {
                    margin-top: 0;
                }

                .tagline {
                    position: relative;
                    margin-bottom: 40px;

                    &:before {
                        content: '';
                        position: absolute;
                        height: 5px;
                        width: 50px;
                        background-color: #fbc13f;
                        bottom: -10px;
                    }
                }

                .measurement {
                    display: flex;

                    div {
                        margin-right: 5px;
                    }
                }

                .best-with {
                    padding-left: 0;

                    li {
                        list-style-type: none;
                    }
                }
            }
        }
    }

    .related {
        display: flex;

        .related-wrapper {
            flex: 1 1;
            justify-content: center;
            align-items: center;
            display: flex;
            flex-direction: column;
            border: 1px solid #dcdcdc;
            margin: 6px;
            padding: 10px;
        }

        h5 {
            margin-bottom: 0;
        }

        img {
            max-height: 80px;
        }
    }
}

@media (min-width: 576px) {
    .modal {
        display: flex;
        justify-content: center;
        align-items: center;

        .details {
            min-height: auto;

            .item-details {
                flex-direction: row;

                img {
                    max-height: 300px;
                }
            }
        }
    }
}