.items-list {
    display: flex;
    flex-wrap: wrap;
    min-height: 595px;

    .item {
        display: flex;
        flex-direction: column;
        flex: 100%;
        background-color: #fff;
        align-items: center;
        margin: 8px;
        padding: 20px;
        box-shadow: 0 0 9px 1px #c9c9c9;
        cursor: pointer;

        img {
            margin-bottom: 15px;
            max-width: 100%;
            height: 150px;
        }

        .info {
            text-align: center;

            span {
                font-size: 12px;
                border-top: 2px solid #000;
                border-bottom: 2px solid #000;
                padding: 2px 15px;
            }

            .name {
                color: #fbc13f;
                margin-bottom: 10px;
            }

            .desc {
                color: #cbcbcb;
            }
        }
    }
}

.nothing {
    min-height: 595px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

@media screen and (min-width: 576px) {
    .items-list {
        .item {
            flex: calc(50% - 56px);
        }
    }
}

@media (min-width: 768px) {
    .items-list {
        .item {
            flex: calc(33% - 49px);

            &:first-child, &:nth-child(3n+1) {
                margin-left: 0;
            }

            &:last-child, &:nth-child(3n) {
                margin-right: 0;
            }
        }
    }
}